.books {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  row-gap: 30px;
  column-gap: 40px;
}

.book {
  width: 130px;
  
  &__cover {
    width: 160px;
    height: 190px;
    background-color: aquamarine;
  }
}

@media (min-width: 576px) {
  .books {
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1440px) {
  .books {
    row-gap: 40px;
  }
}