.search {
  max-width: 1200px;
  margin: 50px auto;
  padding-left: 20px;
  padding-right: 20px;

  &__form {
    display: flex;
    align-items: center;
  }

  &__field {
    width: 70%;
  }

  &__error {
    color: red;
    font-size: 12px;
    font-weight: 600;
  }

  &__wrapper-button {
    width: 30%;
    margin-left: 50px;
  }

  &__button {
    display: flex;
    align-items: center;

    & > p {
      margin-right: 5px;
    }
  }

  &__info {
    margin-top: 40px;
    min-width: 300px;
    border: 1px solid gray;
    padding: 30px;

    & > ul {
      padding-left: 30px;
      list-style: disc;
    }

    & > h3 {
      font-size: 1.4rem;
      margin-bottom: 10px;
    }
  }

  &__results {
    margin-top: 20px;

    & > .text {
      display: inline-block;
      text-decoration: underline;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
    }
  }
}

.result {
  margin-top: 40px;
  display: flex;

  picture {
    margin-right: 15px;
    width: 80px;
  }

  &__name {
    font-weight: bold;
    color: #4d7392;
    font-size: 1.2rem;
  }

  &__library {
    & > span {
      color: #0f7d00;
      font-weight: bold;
      margin-right: 5px;
    }
  }
}