:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #333;
  position: relative;
}

img {
  width: 100%;
  display: block;
}

button {
  cursor: pointer;
  padding: 15px 35px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  color: #fff;
  background: linear-gradient(40deg,#fc6076 0%,#ff9a44 100%) ;
  box-shadow: 0 10px 15px -6px rgba(0,0,0,.3);

  &:hover {
    background: #fb4b1a;
  }
}

input {
  width: 100%;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ced6e0 ;
  transition: all 0.3s ease-in-out;
  outline: none;

  &:hover,
  &:focus {
    border: 1px solid #3d9cff ;
  }
}

.input {
  &-invalid,
  &-invalid:focus,
  &-invalid:hover {
    border-color: red;
  }
}